.navBar{
    width: 100vw;
    padding: 0em;
    background-color: rgb(26, 48, 133);
} 
.navBar ul {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    margin-right: 2em;
}

.profileAndProfit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
 .navBar ul li {
    /* display: block;  */
    display: flex;
    align-items: center;
    gap: 5px;
    
}  

.profile, .logout, .profit, .ranking, .playBtn{
    margin-top: 1em;
}
.ranking{
    cursor: pointer;
}

.playBtn{
    border: 2px solid black;
    padding: 0.3em 1em;
    border-radius: 12px;
    background-color: rgb(145, 50, 234);
}

.playBtn:hover{
    background-color: rgb(82, 28, 133);
}