.navBar{
    width: 100vw;
    padding: 0em;
    background-color: rgb(26, 48, 133);
} 
.navBar ul {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: end;
    margin-right: 2em;
}

 .navBar ul li {
    display: block; 
}  

.profile, .logout{
    margin-top: 1em;
}