.navBar{
    width: 100%;
    padding: 1em;
}
.navBar ul {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.navBar ul li {
    display: block;
    /* padding: 1em; */
}
.profile{
    display: flex;
    align-items: center;
}